/* estilos de trabajo de ejemplo */

#trabajos{
    background-color: #000;
    height: auto;
    padding: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#weblink{
    display: flex;
    justify-content: center;
    align-items: center;
}

.travxls-img{
    border-radius: 10px;
}

#weblink-info{
    margin: 1rem 1rem;
    padding: 2rem;
}

.informacion-title{
    color: white;
}

.informacion-text{
    color: white;
}

.travxls-link{
    text-decoration: none;
    color: white;
    margin: 0rem 1rem 0rem 0rem;
}

.travxls-link:hover{
    color: #d62828;
    transition: color 0.5s;
}


.codigo{
    font-size: 1.2rem;
}

/* media queries */

@media (max-width: 575.98px) {
    .travxls-img{
        height: 200px;
    }
}

@media (max-width: 767.98px) {
    .travxls-img{
        height: 160px;
    }
}

@media (max-width: 991.98px) {
    .travxls-img{
        height: 200px;
    }
}

@media (max-width: 1199.98px) {
    .travxls-img{
        height: 200px;
    }
}

@media (max-width: 1399.98px) {
    .travxls-img{
        height: 140px;
    }
}
